{% extends 'base.html' %}
{% block title %}Register - GrandFort{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-screen bg-base-200">

  <div class="flex flex-col justify-center w-full max-w-md p-8 bg-base-100 border border-sky-600 rounded-md shadow-md">
    <p class="text-xl mb-5">Register an account</p>
    
    <form action="" method="post" class="">
      {% csrf_token %}
      <label for="{{ form.username.id_for_label }}" class="text-sky-950 font-medium mb-2">Username:</label>
      <input type="text" name="username" id="{{ form.username.id_for_label }}" class="input input-bordered w-full"
        placeholder="Enter your username" required />

      <label for="{{ form.password.id_for_label }}" class="text-sky-950 font-medium mb-2 mt-4">Password:</label>
      <input type="password" name="password" id="{{ form.password.id_for_label }}" class="input input-bordered w-full"
        placeholder="Enter your password" required />

      <input type="submit" value="Submit" class="btn btn-primary mt-6 w-full" />
    </form>
<div class="my-2"></div>
    <p class="float-end">Already have an account? <a href="{% url 'login' %}">login here</a></p>
  </div>

</div>
{% endblock %}